.navigation{
    font-family: -apple-system, BlinkMacSystemFont, 'PixelDigivolve';
    background: black;
}

.footer{
    font-family: -apple-system, BlinkMacSystemFont, 'PixelDigivolve';
}

footer{
    background: black;
}
.contact{
    background-color: white; 
    /*text-align: left;  */ 
}

#button{
    font-family: -apple-system, BlinkMacSystemFont, 'PixelDigivolve';
    background: rgba(255, 0, 0, 0.86);
    border: none;
}
.leaderBoard{
    /*text-align: center; */
}

