.navigation{
    font-family: -apple-system, BlinkMacSystemFont, 'PixelDigivolve';
    background: #000000;
}

.footer{
    font-family: -apple-system, BlinkMacSystemFont, 'PixelDigivolve';
}

footer{
    background: black;
}
